# Segredos - NUNCA suba isso pro GitHub
.env

# Python
__pycache__/
*.pyc
venv/
.venv/
instance/

# Uploads de usuário (opcional: remova esta linha se quiser versionar as imagens)
static/uploads/*
!static/uploads/.gitkeep

# Editores
.vscode/
.idea/
